/* //// Root Variables */
:root {
  --color-primary: #0d6efd
}


/* //// GLOBAL STYLES */

.section {
  margin-top: 8em;
  margin-bottom: 4em;
}

.active {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 3px;
}

hr {
  border-width: 2px;
}

textarea {
  box-shadow: 4px 4px 0px var(--color-primary);
  min-height: 2em;
  margin-bottom: .5em;
}

/* //// NAVIGATION COMPONENT */
.navbar-brand {
  border: none;
}

.link {
 text-decoration: none;
}

.nav-link:active, .nav-link:hover {
  color: var(--color-primary)
}

/* //// HOME COMPONENT */
