/* //// Root Variables */
:root {
  --text-primary: #0d6efd
}


/* //// GLOBAL STYLES */

.section {
  margin: 6em 0;
}

.active {
  border-bottom: 2px solid var(--text-primary);
  padding-bottom: 3px;
}

/* //// NAVIGATION COMPONENT */
.navbar-brand {
  border: none;
}

.nav-link:active, .nav-link:hover {
  color: var(--text-primary)
}

/* //// HOME COMPONENT */
