/* //// Root Variables */
:root {
  --color-primary: #0d6efd;
  --color-white: #ffffff
}


/* //// GLOBAL STYLES */

.section {
  margin-top: 8em;
  margin-bottom: 4em;
}

.active {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 3px;
}

hr {
  border-width: 2px;
}

textarea {
  box-shadow: 4px 4px 0px var(--color-primary);
  min-height: 2em;
  margin-bottom: .5em;
  padding: 10px;
}

.round-btn {
  border-radius: 10%;
  border-color: none;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}

/* //// NAVIGATION COMPONENT */
.navbar-brand {
  border: none;
}

.link {
  text-decoration: none;
}

.nav-link:active,
.nav-link:hover {
  color: var(--color-primary)
}

/* //// HOME COMPONENT */

.toggle-icon-container {
  display: flex;
  align-items: center;
}

#void-toggle-btn {
  text-decoration: none;
  font-size: 1.5em;
}

.toggle-text {
  font-size: medium;
  font-weight: bold;
  padding-left: 5px;
}

/* //// VOID COMPONENT */

.likes {
  font-size: x-small;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 4px;
}

/* //// WOF COMPONENT */
.wof-component {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.wof-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.wof-users-component {
  width: auto;
  height: auto;
  padding: 10px 10px 50px 30px;
  margin-right: 2em;
}

.wof-leger-component {
  width: auto;
  height: auto;
  padding: 5px 10px 5px 0px;
}

.wof-explain-points-component {
  border: 1px solid #dee2e6;
  clear: both;
  width: inherit;
  margin: 25px 5px;
  padding: 15px 10px 5px 10px;
}

.pinata {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.canvas-component {
  border: 1px solid black;
  position: fixed;
  width: 500px;
  height: 400px;
  z-index: 15;
  top: 40%;
  left: 30%;
  margin: -100px 0 0 -150px;
  background: white;
}

#whack-button {
  text-decoration: none;
  font-size: 1.5em;
  width: auto;
  height: auto;
}





/* Sign Up Component */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce-img {
  animation: bounce 2s infinite;
}

/* //// MEDIA QUERIES */

@media screen and (max-width: 540px) {
  .wof-header-container {
      flex-direction: column;
      align-items: center;
    }
}

/* //// CONTROVERSY COMPONENT */
.con-component {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}

.wof-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.wof-users-component {
  width: auto;
  height: auto;
  padding: 10px 10px 50px 30px;
  margin-right: 2em;
}


/* ////Notification component */

.notify-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  max-width: 300px;
  background-color: #0d6efd;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0 0 10px rgba(23, 5, 214, 0.2);
  z-index: 9999;
  display: none;


}

.notify-popup {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  max-width: 300px;
  animation: slideIn 0.5s ease-in-out, fadeOut 0.5s 2s ease-in-out;
}

.notify-popup button {
  background-color: #ff5733;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;}

  /* Animation Keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
